.odml-logo { width: 55vw; max-width:55px; padding: 5px; }
.g-node-logo-navbar { height: 50px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0px; }
.back-custom { background: #eae6e1; padding-top: 30px; padding-bottom: 50px; }
.front-custom { background: #ffffff; padding: 10px; padding-top: 30px; border: 1px solid #cbcbcb; border-radius: 5px; }
.info-box { border: 1px solid #cbcbcb; border-radius: 3px; margin: 10px; padding: 10px; }
.inner-box { padding: 40px; }
.no-right-pad { padding-right: 0px; }
